<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>Sarah Fleming</h2>
        </header>
        <p>Welcome to my site</p>
        <!--by <a href="http://">here</a>. -->
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Take a look at my projects</a></li>
            </ul>
        </footer>

    </div>

</section>